
.introduction[b-rsv1gfz7zf] {
    padding: 90px 0;
    text-align: center;
    background-color: var(--dark-bg);
    position: relative;
}

    .introduction h2[b-rsv1gfz7zf] {
        margin-bottom: 25px;
        color: var(--secondary-color);
        font-size: 2.2rem;
        font-weight: 600;
    }

    .introduction p[b-rsv1gfz7zf] {
        max-width: 800px;
        margin: 0 auto;
        font-size: 1.1rem;
        line-height: 1.7;
        color: var(--text-color);
    }
