@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<div class="page">
    <Header />
    <main class="pt-5">
        @Body
    </main>
    <Footer />
</div>


