.navbar[b-6f5zq08xa5] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-brand[b-6f5zq08xa5] {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-item[b-6f5zq08xa5] {
    list-style: none;
    padding: 0.5rem;
}

.nav-link[b-6f5zq08xa5] {
    color: #d7d7d7;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
}

    .nav-link:hover[b-6f5zq08xa5],
    .nav-link.active[b-6f5zq08xa5] {
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
    }

.navbar-toggler[b-6f5zq08xa5] {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
}

.nav-scrollable[b-6f5zq08xa5] {
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1rem;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

.navbar-toggler:checked ~ .nav-scrollable[b-6f5zq08xa5] {
    display: flex;
}
